<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Listing</title>
<link rel="stylesheet" href="/styles.css">
    <script src="https://cdn.tiny.cloud/1/mu7it1an7o566wgt37ouhcjmetjvvwi0iyh19achk7b8v351/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
</head>
<body>
    <div class="container">
        <h1>Product Listing</h1>
        <div id="product-list"></div>
        
        <h2>Edit Product</h2>
        <form id="edit-form" method="POST" enctype="multipart/form-data">
            <input type="hidden" id="product-id" name="product_id" value="<%= product[0].product_id %>">
            <div style="width: 100%; display: flex; flex-direction: column; gap: 10px; margin-bottom: 10px;">
                <input style="padding: 10px; border-radius: 5%; border: 1px solid #444; background-color: #2a2a2a; color: white;" 
                value="<%= product[0].product_name %>" 
                type="text" 
                id="product-name" 
                name="name" 
                placeholder="Product Name">
                <input style="padding: 10px; border-radius: 5%; border: 1px solid #444; background-color: #2a2a2a; color: white;" 
                value="<%= product[0].product_price %>" 
                type="text" 
                id="product-price" 
                name="price" 
                placeholder="Price">
            </div>
         <div> <textarea type="text" id="product-description" name="description" placeholder="Description"><%- product[0].product_desc %></textarea></div>

    
         <div class="container" style="height: 400px;">
            <div class="select-btn open">
              <span class="btn-text">Choose Category</span>
                <span class="arrw-dwn">
                <i class="fas fa-chevron-down" style="color: black;"></i>
              </span>
            </div>
    
            <ul class="list-items" name="categories" id="categories">
              <% categories.forEach(function(category) { %>
                <% let isChecked = productCategoryIds.includes(category.cat_id); %>
                <li class="item <%= isChecked ? 'checked' : '' %>" id="<%= category.cat_id %>">
                  <span class="checkbox">
                    <i class="fa-solid fa-check check-icon"></i>
                  </span>
                  <span class="item-text"><%= category.cat_name %></span>
                </li>
              <% }); %>
            </ul>
    
    
          </div>
    
    
    

            
            
            <div style="width: 100%; display: flex; flex-direction: column; gap: 0px; margin-top: 10px;">
                <input style="padding: 10px; border-radius: 5%; border: 1px solid #444; background-color: #2a2a2a; color: white;" 
                type="file" 
                id="product-image" 
                name="image" 
                accept="image/*" multiple
                onchange="uploadImages(event)">
                <div style="width: 90%; height:auto ; display: flex; flex-wrap: wrap; justify-content: flex-start; gap: 10px; margin-top: 10px;" class="image-preview" id="imagePreview"></div>
                <div style="display: flex; justify-content: flex-start; gap: 20px; width: 15%">
                
                    <% product.forEach(function(item) { %>
                        
                            <img 
                                src="<%= item.image_name %>" 
                                alt="<%= item.product_name %>" 
                                style="max-width: 100%; height: auto;"
                            />
                            <button style="height:50px; width:100px; display: block; margin-top: 5px;" class="remove" onclick="event.preventDefault(); window.location.href='/removeimage/<%= item.product_id %>/<%= item.image_id %>'; image.remove(); button.remove()">Remove</button>
                               
                        
                    <% }); %>
                </div>
                <button style="width: 100%;" onclick="submitForm(event);window.location.href='/products'">Update</button>
                <button type="button" style="width: 100%; background-color: green;" onclick="window.location.href='/products'">Product List</button>
                
            </div>
        </form>
        <%= console.log(product) %>    
    </div>
    <script src="/scripts/editImage.js"></script>
    <script src="/scripts/editSubmit.js"></script>
    <script src="/scripts/textEditor.js"></script>
    <script src="/scripts/dropdown.js"></script>
  
  
</body>
</html>
